$colors : #000,
#fff,
#2598ff,
#ff486b,
#e4d354,
#62ecbe,
#2b908f,
#91e8e1,
#f45b5b,
#434348,
#f7a35c,
#8085e9,
#fee22d,
#ffcf02,
#f6911e,
#91e8e1,
#9d4f36,
#90ed7d,
#f15c80,
#181b27,
#3e3d3e,
#1aee14,
#001097,
#000531,
#f1f4f6,
#57ff82
'transparent';

$orangeColor : #ffb200;
$darkBlue : #000531;
$darkBlue2 : #000d7e;
$black : #000;
$white : #fff;